.cards-small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-right: 50px;
  margin-left: 50px;
}

.card-description {
  text-align: right;
  color: $material-primary-dark;
}
.card-description2 {

  color: $material-primary-dark;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-trip, .plane-card, .form-card {
  overflow: hidden;
  background: $material-secondary-light;
}

 .card-trip {
    text-decoration: none;
    color: $material-primary;

    &:hover {
    text-decoration: none;
    color: $material-primary;
    }

 }

.card-trip {
  border-radius: 0px;
}
.plane-card, .form-card {
  padding: 24px;
  border-radius: 0px;
  & h3 {
    font-size: 32px;
    font-weight: bold;
  }

  & p {
    font-size: 16px;
  }
}

.card-trip > .img-wrapper {
  height: 200px;
  width: 100%;
  overflow: hidden;      /* hide the overflow */
  transition: .4s;
  & img {
      height: 200px;
      width: 100%;
      object-fit: cover;
  }
}

.card-trip:hover {
  & > .img-wrapper {
    transform: scale(120%);
  }
 & .card-trip-banner-img {
  transform: scale(120%);
 }
}


.card-trip-banner {
  position: relative;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;

  & .card-trip-banner-img {
    transition: .4s;
  }
}

.card-trip-banner-img {
  position: relative;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.card-trip-header {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}


.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: auto;
  padding-top:12px;
}

.card-trip-infos {
  padding: 16px;
  position: relative;
  z-index: 5;
  background-color: $material-secondary-light;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
  // height: auto;

  & h4 {
    color: $material-primary-dark;
  }

  & h4 a{
    color: $material-primary-dark;
  }

    & h4 a:hover{
    color: $material-primary-dark;
  }
}


.tag {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 2px 8px;
  border-radius: 0px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $headers-font;
  font-size: 12px;

  &.declined, &.cancelled {
    background-color: $material-decline;
  }

  &.pending{
    background-color: $material-secondary;
    color: $material-secondary-text;
  }

  &.accepted, &.confirmed {
    background-color: $material-accept;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.card-product {
  overflow: hidden;
  height: 200px;
  background: $material-secondary-light;
  display: flex;
  align-items: center;
  border-radius: 0px;
  flex-grow:1;

  & a {
    color: $material-primary-dark;

  }

  & h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 30px;
}

.date-span {
  text-transform: lowercase;
  font-weight: lighter;
}

.m-card-negative-cta-left{
  margin-left: -16px;
  margin-bottom: -16px;
}

.m-card-negative-cta-right{
  margin-right: -16px;
  margin-bottom: -16px;
}
.m-card-negative-cta{
  margin-right: -16px;
  margin-bottom: -16px;
  margin-left: -16px;
}
