.cards-small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-right: 50px;
  margin-left: 50px;
}

.card-description {
  text-align: right;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-trip, .plane-card, .form-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

 .card-trip {
    text-decoration: none;
    color: #000;

    &:hover {
    text-decoration: none;
    color: #000;
    }
 }

.card-trip {
  border-radius: 10px;
}
.plane-card, .form-card {
  padding: 24px;
  border-radius: 10px;
  & h3 {
    font-size: 32px;
    font-weight: bold;
  }

  & p {
    font-size: 16px;
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-banner {
  position: relative;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-trip-header {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}


.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: auto;
}

.card-trip-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
  // height: auto;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 10px;
  color: white;

  &.declined, &.cancelled {
    background-color: rgba(255, 0, 0, 0.8);
  }

  &.pending{
    background-color: rgba(230, 230, 230, 0.8);
  }

  &.accepted, &.confirmed {
    background-color:rgba(0, 255, 0, 0.5);
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-grow:1;

  & a {
    color:#54BAB9;
  }

  & h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 30px;
}

.date-span {
  text-transform: lowercase;
  font-weight: lighter;
}
