.cta {
  border-radius: 0px;
  // height: 56px;
  padding: 8px 24px;
  font-size: 16px;
  text-transform: uppercase;
  color: $material-primary-text;
  font-weight: bold;

  &-dark {
    background-color: $material-primary-dark;
    border: 2px solid $material-primary-dark;
  }

  &-dark:hover {
      background-color: transparent;
      color: $material-primary-dark;
  }

  &-red {
    size: 100px;
    background-color: none;
    border: 2px solid #ba5454;
    color: #c71d1d;
  }

  &-light {
    background-color: $material-secondary;
    border: 2px solid $material-secondary;
    color: $material-secondary-text;
  }

  &-light:hover {
    background-color: $material-primary-dark;
    color: $material-primary-text;
  }

  &-red {
    padding: 8px 50px;
    background-color: rgb(221, 35, 35);
    border: 2px solid #ba5454;
    color: #f1ecec;
  }

  &-red:hover {
    background-color: #e97a89;
    color:rgb(243, 231, 231);
  }
}



.simple-link{
  color: $material-primary;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    color: $material-primary;
    text-decoration: underline;
  }

  &-delete {
    color: $material-secondary-dark;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    padding: 0;
    border: none;
  }

  &-password-reset {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    color: $material-primary;
  }

  &-password-reset:hover {
    color:$material-primary;
  }
}

.simple-link-accept {
    color:$material-primary;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    padding: 0;
    border: none;
}

.simple-link-decline {
  color: $material-secondary-dark;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  padding: 0;
  border: none;
}

.align-ctas {
  display: flex;
  justify-content: space-between;
}
