input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password] {
  height: 56px;
  padding: 8px 12px;
  font-size: 16px;
  color: $material-primary;
  border: 2px solid $material-primary-dark;
  margin-left: 0px !important;
  margin-right: 0px !important;

  &:focus {
    border: 2px solid $material-primary-dark;
    color: $material-primary-text;
    background-color: $material-primary-dark;
    box-shadow:none;
  }
}


select {
  height: 56px !important;
  border-radius: 0px !important;
  padding: 8px 12px !important;
  font-size: 16px !important;
}

textarea {
  padding: 8px 12px !important;
  font-size: 16px !important;
  color: $material-primary !important;
  border: 2px solid $material-primary-dark !important;
  margin-left: 0px !important;
  margin-right: 0px !important;

  &:focus {
    border: 2px solid $material-primary-dark !important;
    color: $material-primary-text !important;
    background-color: $material-primary-dark !important;
    box-shadow:none !important;
  }
}
