.navbar-lewagon {
  justify-content: space-between;
  background: $material-primary-dark;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 99;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}

.dropdown-lewagon {
  &:hover {
    background-color: $material-primary-dark !important;
    color: $material-primary-text !important;
  }
}
